PORT=3002
NODE_ENV=development
# CHANGE THIS: Your MongoDB connection string for product-service database
# Local:   mongodb://localhost:27017/productdb
# Atlas:   mongodb+srv://<username>:<password>@<cluster>.mongodb.net/productdb
MONGODB_URI=mongodb://localhost:27017/productdb
USER_SERVICE_URL=http://user-service:3001
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3003
