PORT=3003
NODE_ENV=development
USER_SERVICE_URL=http://user-service:3001
PRODUCT_SERVICE_URL=http://product-service:3002
PAYMENT_SERVICE_URL=http://payment-service:3004
ALLOWED_ORIGINS=http://localhost:3000
